@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 0.72rem;
  }
}

@media screen and (min-width: 1250px) {
  html {
    font-size: 0.74rem;
  }
}

@media screen and (min-width: 1400px) {
  html {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 0.88rem;
  }
}

@media screen and (min-width: 1800px) {
  html {
    font-size: 0.98rem;
  }
}
